body {
  background: #C0C0C0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Helvetica, Arial;
}

canvas {
  width: 570px;
  height: 320px;
}

#image-container {
  width: 570px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    position: absolute;
    z-index: -1;
    width: 570px;
    height: 320px;
  }

  &.converting img {
    opacity: 0.2;
  }

  div.progressbar-text {
    font-size: 4em;
    text-shadow: 0 0 3px black;
    top: 0!important;
  }

  svg {
    filter: drop-shadow(0 0 3px black);
  }
}

.subtitle-container,
.avatar-container,
.options-container {
  margin-top: 20px;
  padding: 20px;
  border: solid 3px;
  border-radius: 30px;
  background: white;

  label, input {
    margin: 3px;
  }
}

.avatar-container {
  display: flex;
  align-items: center;

  input[type=file] {
    display: none;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 100px;
    height: 100px;
  }

  div {
    text-align: center;
  }

  button {
    font-size: 0.8em;
  }
}

.options-container {
  span {
    min-width: 70px;
    display: inline-block;
  }

  .info {
    text-align: right;
    font-size: 0.8em;

    .warning-text {
      font-size: 0.9em;
    }
  }

  input[type=text] {
    margin-top: 10px;
    width: 80px;
  }
}

.convert-button {
  margin-top: 20px;

  button {
    font-size: 1.5em;
  }
}

.footer {
  margin-top: 40px;
  font-size: 12px;
  display: flex;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
  }

  span {
    margin-left: 10px;
  }
}
