body {
  background: #C0C0C0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Helvetica, Arial;
}

canvas {
  width: 570px;
  height: 320px;
}

#image-container {
  width: 570px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    position: absolute;
    z-index: -1;
    width: 570px;
    height: 320px;
  }

  &.converting img {
    opacity: 0.2;
  }

  div.progressbar-text {
    font-size: 4em;
    text-shadow: 0 0 3px black;
    top: 0!important;
  }

  svg {
    filter: drop-shadow(0 0 3px black);
  }
}

.subtitle-container,
.options-container {
  margin-top: 20px;
  padding: 20px;
  border: solid 3px;
  border-radius: 30px;
  background: white;

  label, input {
    margin: 3px;
  }
}

.convert-button {
  margin-top: 20px;

  button {
    font-size: 1.5em;
  }
}

.frame-0001 {  }
.frame-0002 {  }
.frame-0003 {  }
.frame-0004 {  }
.frame-0005 {  }
.frame-0006 {  }
.frame-0007 {  }
.frame-0008 {  }
.frame-0009 {  }
.frame-0010 {  }
.frame-0011 {  }
.frame-0012 {  }
.frame-0013 {  }
.frame-0014 {  }
.frame-0015 {  }
.frame-0016 {  }
.frame-0017 {  }
.frame-0018 {  }
.frame-0019 {  }
.frame-0020 {  }
.frame-0021 {  }
.frame-0022 {  }
.frame-0023 {  }
.frame-0024 {  }
.frame-0025 {  }
.frame-0026 {  }
.frame-0027 {  }
.frame-0028 {  }
.frame-0029 {  }
.frame-0030 {  }
.frame-0031 {  }
.frame-0032 {  }
.frame-0033 {  }
.frame-0034 {  }
.frame-0035 {  }
.frame-0036 {  }
.frame-0037 {  }
.frame-0038 {  }
.frame-0039 {  }
.frame-0040 {  }
.frame-0041 {  }
.frame-0042 {  }
.frame-0043 {  }
.frame-0044 {  }
.frame-0045 {  }
.frame-0046 {  }
.frame-0047 {  }
.frame-0048 {  }
.frame-0049 {  }
.frame-0050 {  }
.frame-0051 {  }
.frame-0052 {  }
.frame-0053 {  }
.frame-0054 {  }
.frame-0055 {  }
.frame-0056 {  }
.frame-0057 {  }
.frame-0058 {  }
.frame-0059 {  }
.frame-0060 {  }
.frame-0061 {  }
.frame-0062 {  }
.frame-0063 {  }
.frame-0064 {  }
.frame-0065 {  }
.frame-0066 {  }
.frame-0067 {  }
.frame-0068 {  }
.frame-0069 {  }
.frame-0070 {  }
.frame-0071 {  }
.frame-0072 {  }
.frame-0073 {  }
.frame-0074 {  }
.frame-0075 {  }
.frame-0076 {  }
.frame-0077 {  }
.frame-0078 {  }
.frame-0079 {  }
.frame-0080 {  }
.frame-0081 {  }
.frame-0082 {  }
.frame-0083 {  }
.frame-0084 {  }
.frame-0085 {  }
.frame-0086 {  }
.frame-0087 {  }
.frame-0088 {  }
.frame-0089 {  }
.frame-0090 {  }
.frame-0091 {  }
.frame-0092 {  }
.frame-0093 {  }
.frame-0094 {  }
.frame-0095 {  }
.frame-0096 {  }
.frame-0097 {  }
.frame-0098 {  }
.frame-0099 {  }
.frame-0100 {  }
.frame-0101 {  }
.frame-0102 {  }
.frame-0103 {  }
.frame-0104 {  }
.frame-0105 {  }
.frame-0106 {  }
.frame-0107 {  }
.frame-0108 {  }
.frame-0109 {  }
.frame-0110 {  }
.frame-0111 {  }
.frame-0112 {  }
.frame-0113 {  }
.frame-0114 {  }
.frame-0115 {  }
.frame-0116 {  }
.frame-0117 {  }
.frame-0118 {  }
.frame-0119 {  }
.frame-0120 {  }
.frame-0121 {  }
.frame-0122 {  }
.frame-0123 {  }
.frame-0124 {  }
.frame-0125 {  }
.frame-0126 {  }
.frame-0127 {  }
.frame-0128 {  }
.frame-0129 {  }
.frame-0130 {  }
.frame-0131 {  }
.frame-0132 {  }
.frame-0133 {  }
.frame-0134 {  }
.frame-0135 {  }
.frame-0136 {  }
.frame-0137 {  }
.frame-0138 {  }
.frame-0139 {  }
.frame-0140 {  }
.frame-0141 {  }
.frame-0142 {  }
.frame-0143 {  }
.frame-0144 {  }
.frame-0145 {  }
.frame-0146 {  }
.frame-0147 {  }
.frame-0148 {  }
.frame-0149 {  }
.frame-0150 {  }
.frame-0151 {  }
.frame-0152 {  }
.frame-0153 {  }
.frame-0154 {  }
.frame-0155 {  }
.frame-0156 {  }
.frame-0157 {  }
.frame-0158 {  }
.frame-0159 {  }
.frame-0160 {  }
.frame-0161 {  }
.frame-0162 {  }
.frame-0163 {  }
.frame-0164 {  }
.frame-0165 {  }
.frame-0166 {  }
.frame-0167 {  }
.frame-0168 {  }
.frame-0169 {  }
.frame-0170 {  }
.frame-0171 {  }
.frame-0172 {  }
.frame-0173 {  }
.frame-0174 {  }
.frame-0175 {  }
.frame-0176 {  }
.frame-0177 {  }
.frame-0178 {  }
.frame-0179 {  }
.frame-0180 {  }
.frame-0181 {  }
.frame-0182 {  }
.frame-0183 {  }
.frame-0184 {  }
.frame-0185 {  }
.frame-0186 {  }
.frame-0187 {  }
.frame-0188 {  }
.frame-0189 {  }
.frame-0190 {  }
.frame-0191 {  }
.frame-0192 {  }
.frame-0193 {  }
.frame-0194 {  }
.frame-0195 {  }
.frame-0196 {  }
.frame-0197 {  }
.frame-0198 {  }
.frame-0199 {  }
.frame-0200 {  }
.frame-0201 {  }
.frame-0202 {  }
.frame-0203 {  }
.frame-0204 {  }
.frame-0205 {  }
.frame-0206 {  }
.frame-0207 {  }
.frame-0208 {  }
